@using McMotdParser.Data;
@using McMotdParser;
@using McMotdParser.Enum
@using System.Text
@using System.Text.Encodings.Web
<div class="mcmotd-container">
    @foreach(MotdContent motd in motds)
    {
        @if (motd.LineBreak)
        {
            <br/>
        }
        <span class="@getStyle(motd.TextFormatting) mcmotd-text" style="color: @motd.Color">
            @if (motd.TextFormatting.Contains(TextFormatEnum.Bold))
            {
                <strong>@motd.Text</strong>
            }else
            {
                @motd.Text    
            }
        </span>
    }
</div>
@code{
    [Parameter]
    public string RawMotdString { get; set; }
    
    private List<MotdContent> motds { get; set; }

    protected override void OnInitialized()
    {
        motds = new MotdParser().ToRazor(RawMotdString);
        base.OnInitialized();
    }

    private string getStyle(HashSet<TextFormatEnum> TextFormats)
    {
        StringBuilder sb = new StringBuilder();
        foreach (var TextFormat in TextFormats)
        {
            switch (TextFormat)
            {
                case TextFormatEnum.Bold:
                    sb.Append("mcmotd-text-bold");
                    break;
                case TextFormatEnum.Italic:
                    sb.Append("mcmotd-text-italic");
                    break;
                case TextFormatEnum.Underline:
                    sb.Append("mcmotd-text-underline");
                    break;
                case TextFormatEnum.Striktethrough:
                    sb.Append("mcmotd-text-strikethrough");
                    break;    
                default:
                    sb.Append("mcmotd-text-normal");
                    break;
            }
            sb.Append(" ");
        }
        return sb.ToString();
    }
} 